{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block breadcrumb %}
{% block extralinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-suggest.css' %}">
<style>
  .opacity_block {
    opacity: 0.2;
  }

  .form-group label {
    font-weight: 800;
    color: black;
  }
</style>
{% endblock extralinks %}
<!-- breadcrumb starts here -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'invoices:invoices_list' %}">Invoice</a></li>
    <li class="active breadcrumb-item">{{invoice.invoice_title}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block content %}
<!-- Task VIEW STARTS -->
<div class="crm_invoice" style="" id="opacity_block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="crm_form">
          <div class="row">
            <div class="col-md-9 p-5 m-auto" style=" background: #fff!important;">
              <!-- <h1 class="text-center pb-3">{{ invoice.invoice_title }}</h1> -->
              <div class="card-title text-right">
                <h5>
                  <span class="float-left title">Overview</span>
                  <span style="margin-top: 0px">
                    <div class="dropdown buttons_row" style="width:auto; display:inline-block; left:0">
                      <a href="{% url 'invoices:invoice_download' invoice.id %}" id="download_btn_" class="btn btn-info"
                        style="padding: 0.12em 0.6em;border-radius: 0;">Download</a>
                      <button class="btn primary_btn dropdown-toggle" type="button" data-toggle="dropdown">Actions
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu" style="width:fit-content; min-width:5.5em; margin-top: 0;">
                        <li><a href="{% url 'invoices:invoice_edit' invoice.id %}"
                            style="background:#17a2b8; color: white; font-weight: 600;">Edit</a></li>
                      </ul>
                    </div>
                  </span>
                </h5>
              </div>
              <hr>
              <form id="formid" action='' method="POST" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    {% if invoice.invoice_title %}
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-4 col-form-label">Invoice
                        Title</label>
                      <div class="col-sm-8 pl-0 col-form-label">
                        {{ invoice.invoice_title }}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-md-6">
                    {% if invoice.status %}
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-4 col-form-label">Status </label>
                      <div class="col-sm-8 pl-0 col-form-label">
                        {{ invoice.status }}
                      </div>
                    </div>
                    {% endif %}

                  </div>
                  {% if invoice.invoice_number %}
                  <div class="col-12">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label" style="margin-right: -3em;">Invoice
                        Number </label>
                      <div class="col-sm-9 pl-0 col-form-label">
                        {{ invoice.invoice_number }}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <!-- <div class="col-md-6">
                      <div class="form-group row">
                        <label for="id_contacts" class="col-sm-4 col-form-label">Status{% if form.status.field.required %}<span
                            class="error_marker" style="color:red">*</span>{% endif %}</label>
                        {{ form.status }}
                        <span class="error" id="id__status">{{ form.status.errors }}</span>
                      </div> -->
                  <!-- <div class="row">
                        <div class="col-sm-8 pl-0">
                          <div class="form-group ">
                            <label for="id_contacts" class="required">Status{% if form.status.field.required %}<span
                                class="error_marker" style="color:red">*</span>{% endif %}</label>
                            {{ form.status }}
                            <span class="error" id="id__status">{{ form.status.errors }}</span>
                          </div>
                        </div>
                      </div> -->
                  <!-- <label>Status</label>
                      <button class="btn status btn-primary">Sent</button> -->
                  <!-- </div> -->
                  <div class="col-md-12">
                    <div class="row">
                      {% if invoice.from_address.address_line or invoice.from_address.street or invoice.from_address.city or invoice.from_address.state or invoice.from_address.postcode or invoice.from_address.country %}
                      <div class="form-group mt-5 col-md-6">
                        <!-- <label for="exampleFormControlTextarea1">From Address</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1"
                            placeholder="ratoncse24 Informatics, 6th Floor, Krish saphire Building, Madhapur"
                            rows="6"></textarea> -->
                        <div class="form-group">
                          <label for="exampleInputEmail1">From Address</label>
                          <div>
                            {{invoice.from_address.get_complete_address}}
                          </div>
                        </div>
                        <br>
                      </div>
                      {% endif %}
                      {% if invoice.to_address.address_line or invoice.to_address.street or invoice.to_address.city or invoice.to_address.state or invoice.to_address.postcode or invoice.to_address.country %}
                      <div class="form-group mt-5 col-md-6">
                        <!-- <label for="exampleFormControlTextarea1">To Address</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                            placeholder="ratoncse24 Informatics, 6th Floor, Krish saphire Building, Madhapur"></textarea> -->
                        <div class="form-group">
                          <label for="exampleInputEmail1">From Address</label>
                          <div>
                            {{invoice.to_address.get_complete_address}}
                          </div>
                        </div>
                        <br>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    {% if invoice.name %}
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-4 col-form-label">Name
                      </label>
                      <div class="col-sm-8 pl-0 col-form-label">
                        {{ invoice.name }}
                      </div>
                    </div>
                    {% endif %}
                    <div class="form-group row">
                      {% if invoice.email %}
                      <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
                      <div class="col-sm-8 pl-0 col-form-label">
                        {{ invoice.email }}
                      </div>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      {% if invoice.email %}
                      <label for="staticEmail" class="col-sm-4 col-form-label">Phone</label>
                      <div class="col-sm-8 pl-0 col-form-label">
                        {{ invoice.phone }}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      {% if invoice.currency %}
                      <label for="inputState" class="col-sm-4">Currency{% if form.currency.field.required %}<span
                          class="error_marker" style="color:red"> * </span>{% endif %}</label>
                      <div class="col-sm-8 pl-0">
                        {{ invoice.currency }}
                      </div>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      {% if invoice.assigned_to.all %}
                      <label for="staticEmail" class="col-sm-4 col-form-label">Assign To</label>
                      <div class="col-sm-8 pl-0 col-form-label">
                        {% for user in invoice.assigned_to.all %}
                        <div>
                          <a href="{% url 'common:view_user' user.id %}">
                            {{user}}
                          </a>
                        </div>
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      {% if invoice.due_date %}
                      <label for="inputState" class="col-sm-4">Due Date</label>
                      <div class="col-sm-8 pl-0">
                        {{ invoice.due_date }}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-12 ">
                    <div class="row pt-0 pb-4">
                      {% if invoice.quantity %}
                      <div class="form-group col-md-4">
                        <label for="inputCity">Quality Hours</label>
                        {{ invoice.quantity }}
                      </div>
                      {% endif %}
                      {% if invoice.rate %}
                      <div class="form-group col-md-4">
                        <label for="inputCity">Rate</label>
                        {{ invoice.rate }}
                      </div>
                      {% endif %}
                      {% if invoice.total_amount %}
                      <div class="form-group col-md-4">
                        <label for="inputCity">Total Amount</label>
                        {{ invoice.total_amount }}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      {% if invoice.details %}
                      <label for="inputZip">Details</label>
                      <br>
                      {{ invoice.details }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-12 mt-1">
                    <div class="form-group">
                      Created by <b>{{ invoice.created_by }}</b> on <b
                        title="{{ invoice.created_on }}">{{ invoice.created_on_arrow }}</b>
                    </div>
                  </div>
                </div>
              </form>
              <hr>
              <div class="col-md-12 " style="padding:0">
                <!-- Attachment Section start -->
                <div class="card-body mar-top" id="datashow">
                  <div class="card-title view-pad">
                    <h5>Attachments</h5>
                  </div>
                  <div class="row marl">
                    <div class="col-md-12">
                      <form id="attachment_form" method="POST" enctype="multipart/form-data">
                        <div class="form-group ">
                          <input type="file" class="form-control-file" cols="40" id="id_attachments" name="attachment">
                          <div>
                            <p id="AttachmentError" style="display:none; color:red"></p>
                          </div>
                          <br>
                          <div class="buttons_row">
                            <button class="btn btn-default save" style="text-align: center;"
                              id="attachment_submit">Save</button>
                          </div>
                        </div>
                        <input type="hidden" value="{{invoice.id}}" name="invoice_id">
                      </form>
                      <ul class="list-group" id="attachment_div">
                        {% for attachment in attachments %}
                        <li class="list-group-item list-row" id="attachment{{attachment.id}}">
                          {% if request.user.is_superuser or request.user.role == 'ADMIN' or request.user == attachment.created_by %}
                          <div class="float-right right-container">
                            <div class="list-row-buttons btn-group float-right">
                              <button class="action btn primary_btn"
                                onclick="remove_attachment({{attachment.id}})">Remove</button>
                            </div>
                          </div>
                          {% endif %}
                          <div class="stream-post-container" id="attachment_name{{attachment.id}}">
                            {% if attachment.attachment %}
                            {% if 'image' in attachment.file_type %}
                            {% thumbnail attachment.attachment "80x80" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="mb-2">
                            {% endthumbnail %}
                            {% endif %}
                            {% endif %}
                            <pre> <span class="icon"><i style="font-size:1.5rem;" class="{{attachment.get_file_type_display}}"></i> </span>{{attachment.file_name}} <a href="{% url 'common:download_attachment' attachment.id %}">Download</a></pre>
                          </div>
                          <div class="stream-container">
                            <pre class="float-left">Uploaded by :{{ attachment.created_by }}</pre>
                            <pre class="float-right date"
                              title="{{ attachment.created_on }}">{{ attachment.created_on_arrow }}</pre>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Attachment Section end -->
                <hr>
                <!-- Comments Section starts-->
                <div class="card-body" id="datashow">
                  <div class="card-title">
                    <h5>Comments</h5>
                  </div>
                  <div class="row marl">
                    <div class="col-md-12">
                      <form id="comment_form" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                          <textarea class="form-control mentions" textarea cols="40" rows="3" id="id_comments"
                            name="comment" placeholder="Submit Your Comments Here"></textarea>
                          <div>
                            <p id="CommentError" style="display:none; color:red"></p>
                          </div>
                          </br>
                          <div class="buttons_row">
                            <button class="btn btn-default save" style="text-align: center;" id="comment_submit"
                              type="submit">Submit</button>
                          </div>
                        </div>
                        <input type="hidden" value="{{ invoice.id }}" name="invoice_id">
                      </form>
                      <ul class="list-group" id="comments_div">
                        {% for comment in comments %}
                        <li class="list-group-item list-row" id="comment{{comment.id}}">
                          {% if request.user.is_superuser or request.user.role == 'ADMIN' or request.user == comment.commented_by %}
                          <div class="list-row-buttons btn-group float-right">
                            <button class="btn primary_btn btn-sm dropdown-toggle" data-toggle="dropdown"
                              type="button">Actions<span class="caret"></span></button>
                            <ul class="dropdown-menu text-center"
                              style='width: fit-content; min-width: -webkit-fill-available;'>
                              <li>
                                <a style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;'
                                  class="action" onclick="edit_comment({{comment.id}})">Edit</a>
                              </li>
                              <li>
                                <a style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;'
                                  class="action" onclick="remove_comment({{comment.id}})">Remove</a>
                              </li>
                            </ul>
                          </div>
                          {% endif %}
                          <div class="stream-post-container" id="comment_name{{comment.id}}">
                            <pre>{{ comment.comment }}</pre>
                          </div>
                          <div class="stream-container">
                            <pre class="float-left">{{ comment.commented_by }}</pre>
                            <pre class="float-right date"
                              title="{{ comment.commented_on }}">{{ comment.commented_on_arrow }}</pre>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div class="modal fade" id="Comments_Accounts_Modal" role="dialog" data-keyboard="false"
                    data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Update Your Comment</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                        <form id="comment_edit_form" method="POST">
                          <div class="modal-body">
                            <div class="form-group">
                              <textarea class="form-control mentions" textarea cols="40" rows="3" id="id_editcomment"
                                name="comment" placeholder="Submit Your Comments" style="color:black;"></textarea><span>
                                <p id="CommentEditError" style="display:none; color:red"></p>
                              </span>
                              <input type="hidden" value="{{ invoice.id }}" name="invoice_id">
                              <input type="hidden" value="" name="commentid" id="commentid">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-default save" id="comment_edit" type="submit">Update</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Comments Section Ends-->
                <div class="table_container_row row marl no-gutters">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="panel-heading-list card-title view-pad">
                          Invoice History
                        </div>
                        <div class="table-responsive">
                          <table class="table table-bordered table-striped table-condensed">
                            {% if invoice_history|length > 0 %}
                            <thead>
                              <tr>
                                <th width="5%" style="text-align:center;">S.No</th>
                                <th width="20%" style="text-align:center;">Date</th>
                                <th width="20%" style="text-align:center;">Invoice Number</th>
                                <th width="20%" style="text-align:center;">Name</th>
                                <th width="10%" style="text-align:center;">Status </th>
                                <th width="40%" style="text-align:center;">Description </th>
                                <th width="25%" style="text-align:center;">Amount </th>
                              </tr>
                            </thead>
                            {% endif %}
                            <tbody>
                              {% if per_page %}
                              {% paginate per_page invoice_history %}
                              {% else%}
                              {% paginate 10 invoice_history %}
                              {% endif %}
                              {% for invoice in invoice_history %}
                              <tr id="opp_details{{opportunity.id}}" class="text-center">
                                <td scope="row" class="text-center">{{ forloop.counter }}</td>
                                <td scope="row" class="text-center" title="{{invoice.created_on}}">
                                  {{ invoice.created_on_arrow }}</td>
                                <td scope="row" class="text-center">{{ invoice.invoice_number }}</td>
                                <td scope="row" class="text-center">
                                  {% if invoice.updated_by %}
                                  {% if invoice.updated_by.profile_pic %}
                                  {% thumbnail invoice.updated_by.profile_pic "40x40" crop="center" as im %}
                                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                    title="{{ invoice.updated_by }}" style="border-radius: 50%" />
                                  {% endthumbnail %}
                                  {% else %}
                                  <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                                    style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.updated_by }}" />
                                  {% endif %}
                                  {% else %}
                                  <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                                    style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.updated_by }}" />
                                  {% endif %}
                                </td>
                                <td scope="row" class="text-center">{{ invoice.status }}</td>
                                <td scope="row" class="text-center">{{ invoice.details }}</td>
                                <td scope="row" class="text-center">{{ invoice.total_amount }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          <div class="text-center row marl
                          {% if invoice_history|length > 0 %}
                          mt-5
                          {% endif %}
                          ">
                            {% show_pages %}
                          </div>
                        </div>
                        {% ifequal invoice_history|length 0 %}
                        <h6 class="text-center">No Invoice History Records Found</h6>
                        <!-- <div class="table-responsive">
                          <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <th width="5%" style="text-align:center;">S.No</th>
                                <th width="20%" style="text-align:center;">Date</th>
                                <th width="20%" style="text-align:center;">Invoice Number</th>
                                <th width="20%" style="text-align:center;">Name</th>
                                <th width="10%" style="text-align:center;">Status </th>
                                <th width="40%" style="text-align:center;">Description </th>
                                <th width="25%" style="text-align:center;">Amount </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr id="opp_details{{opportunity.id}}" class="text-center">
                                <td scope="row" class="text-center">1</td>
                                <td scope="row" class="text-center" title="{{invoice.created_on}}">
                                  {{ invoice.created_on_arrow }}</td>
                                <td scope="row" class="text-center">{{ invoice.invoice_number }}</td>
                                <td scope="row" class="text-center">
                                  {% if invoice.created_by %}
                                  {% if invoice.created_by.profile_pic %}
                                  {% thumbnail invoice.created_by.profile_pic "40x40" crop="center" as im %}
                                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                    title="{{ invoice.created_by }}" style="border-radius: 50%" />
                                  {% endthumbnail %}
                                  {% else %}
                                  <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                                    style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.created_by }}" />
                                  {% endif %}
                                  {% else %}
                                  <img src="{% static 'images/user.png' %}" alt="Micro profile pic"
                                    style="width: 40px;height: 40px;border-radius: 50%;" title="{{ invoice.created_by }}" />
                                  {% endif %}
                                </td>
                                <td scope="row" class="text-center">{{ invoice.status }}</td>
                                <td scope="row" class="text-center">Invoice Created.</td>
                                <td scope="row" class="text-center">{{ invoice.total_amount }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div> -->
                        {% endifequal %}
                      </div>
                    </div>
                    <br clear="all">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overview_form_block row marl justify-content-center" id="loading_spinner"
        style="z-index: 10; left: 0; right: 0; vertical-align: middle; position: absolute; margin-top: 35%;">
        <div class="spinner-border text-primary" style="width: 5em; height: 5em;" role="status">
          <span class="sr-only">Processing File...</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js_block %}
<script type="text/javascript">
  $('#loading_spinner').hide()
  $("#comment_form").submit(function (e) {
    e.preventDefault()
    var formData = new FormData($("#comment_form")[0]);
    $.ajax({
      url: "{% url 'invoices:add_comment' %}",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data) {
        if (data.error) {
          $("#CommentError").html(data.error).show()
        } else {
          d = new Date(data.commented_on);
          let options = {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit'
          };
          d = d.toLocaleString('en-us', options);
          $("#comments_div").prepend("<li class='list-group-item list-row' id='comment" + data.comment_id + "'>" +
            "<div class='float-right right-container'>" +
            "<div class='list-row-buttons btn-group float-right'>" +
            "<button class='btn primary_btn btn-sm dropdown-toggle' data-toggle='dropdown' type='button'><span class='caret'></span>Actions</button>" +
            "<ul class='dropdown-menu text-center' style='width: fit-content; min-width: -webkit-fill-available;'>" +
            "<li><a style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;' class='action' onclick='edit_comment(" + data.comment_id + ")'>Edit</a></li>" +
            "<li><a style='padding: 0.5em; background: #17a2b8; color:white; font-weight: 600;' class='action' onclick='remove_comment(" + data.comment_id + ")''>Remove</a></li></ul></div></div>" +
            "<div class='stream-post-container' id='comment_name" + data.comment_id + "'><pre>" + data.comment + "</pre></div>" +
            "<div class='stream-container'><pre class='float-left'>" + data.commented_by + "</pre><pre class='float-right' title='" + d.toLocaleString('en-US', { hour12: true }) + "'>" + data.commented_on_arrow + "</pre></div>"
            + "<div class='stream-date-container' id='comment_file_div" + data.comment_id + "'><div id='new_comment" + data.comment_id + "'</div></div></li>"
          )
          $("#id_comments").val("")
          alert("Comment Submitted")
          $("#CommentError").html("")
        }
      }
    });
  });

  function edit_comment(x) {
    $('#Comments_Accounts_Modal').modal('show');
    comment = $("#comment_name" + x).text()
    $("#commentid").val(x)
    $("#id_editcomment").val(comment)
    $("#edit_file_field").html($("#comment_file_div" + x).clone())
  }

  $("#comment_edit").click(function (e) {
    e.preventDefault()
    var formData = new FormData($("#comment_edit_form")[0]);
    $.ajax({
      url: "{% url 'invoices:edit_comment' %}",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data) {
        if (data.error) {
          $("#CommentEditError").html(data.error).show()
        } else {
          console.log($("#comment_name" + data.comment_id))
          $("#comment_name" + data.comment_id).html('<pre>' + data.comment + '</pre>')
          $('#Comments_Accounts_Modal').modal('hide');
          $("#id_editcomment").val("")
          $("#CommentEditError").html('')
        }
      }
    })
  })

  /*Comment Edit Js Ends*/

  function HideError(e) {
    $("#CommentError").hide()
    $("#CommentEditError").hide()
  }

  /*Comment Remove Js Start*/

  function remove_comment(x) {
    var con = confirm("Do you want to Delete it for Sure!?")
    if (con == true) {
      $.post('{% url "accounts:remove_comment" %}', {
        "comment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.error)
        } else {
          $("#comment" + data.cid).remove()
        }
      })
    }
  }

  function remove_attachment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
      $.post('{% url "leads:remove_attachment" %}', {
        "attachment_id": x
      }, function (data) {
        if (data.error) {
          alert(data.error)
        } else {
          $("#attachment" + data.aid).remove()
        }
      })
    }
  }

  $("#attachment_form").submit(function (e) {
    e.preventDefault()
    const formData = new FormData($("#attachment_form")[0]);
    $.ajax({
      url: "{% url 'invoices:add_attachment' %}",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function () {
        $('#loading_spinner').show()
        $('#opacity_block').addClass('opacity_block')
      },
      success: function (data) {
        if (data.error) {
          $("#AttachmentError").html(data.error).show()
          $('#loading_spinner').hide()
          $('#opacity_block').removeClass('opacity_block')
        } else {
          d = new Date(data.created_on)
          let options = {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit'
          };
          d = d.toLocaleString('en-us', options);
          $("#attachment_div").prepend(
            "<li class='list-group-item list-row' id='attachment" + data.attachment_id + "'>" +
            "<div class='float-right right-container'><div class='list-row-buttons btn-group float-right'><button class='action btn primary_btn' onclick='remove_attachment(" + data.attachment_id + ")''>Remove</button></div></div>" +
            "<div class='stream-post-container' id='attachment_name" + data.attachment_id + "'>" +
            `${(data.file_type[0]).startsWith('image') ? `<img src=${data.attachment_url} width="80px" height="80px" class="mb-2">` : ''}` +
            "<pre><span class='icon'><i style='font-size:1.5rem;' class='" + data.attachment_display + "'></i>&nbsp;&nbsp;</span>" + data.attachment + "&nbsp; &nbsp;<a href='" + data.download_url + "'>Download</a></pre></div>" +
            "<div class='stream-container'><pre class='float-left'>" + data.created_by + "</pre><pre class='float-right date' title='" + d.toLocaleString('en-US', { hour12: true }) + "'>" + data.created_on_arrow + "</pre></div>" +
            "</li>"
          )
          $("#AttachmentError").html("")
          $("#id_attachments").val("")
          $('#loading_spinner').hide()
          $('#opacity_block').removeClass('opacity_block')
          setTimeout(() => {
            alert("Attachment Saved")
          }, 100)
          // alert("Attachment Saved")
        }
      }
    })
  });

</script>
<script src="{% static 'js/bootstrap-suggest.js' %}"></script>
<script>
  $('.mentions').suggest('@', {
    data: {{ users_mention| safe}},
    map: function (user) {
      return {
        value: user.username,
        text: '<strong>' + user.username + '</strong>'
      }
    }
 })
</script>
{% endblock js_block %}
